@import './variables.scss';

.footer {
    margin-inline: auto;
    padding: $footer-padding;

    max-width: 100%;
    width: $site-items-width;

    background-color: $main-background;
    color: $footer-color;

    text-align: center;
    font-size: $footer-font-size;
}