@import './variables.scss';

.footer {
    margin-inline: calc(auto + 10px);
    padding: $footer-padding;

    max-width: 100%;
    width: calc($site-items-width - 0.625rem*2);

    background-color: $main-background;
    color: $footer-color;

    text-align: center;
    font-size: $footer-font-size;
}