@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --main-family: 'Poppins', sans-serif;
}

html {
  background: $site-background;
  color: $site-color;

  font-family: var(--main-family);
  font-family: var(--font-family, system-ui), sans-serif;
  font-size: var(--font-size-base);

  min-height: 100%;
}

body {
  margin: 10px;

  min-height: calc(100dvh - 20px);

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

  box-sizing: border-box;
  margin-inline: auto;
  padding: $main-padding;

  width: $site-items-width;
  max-width: 100%;

  background: $main-background;
  color: $main-color;
}

.page-title {
  margin-block-start: 0;
  padding-block-end: $page-title-padding-block-end;

  color: $site-background;

  font-size: $page-title-font-size;
  font-weight: $page-title-font-weight;

  text-transform: uppercase;
}

.page-description {
  font-size: 11pt;
  line-height: $page-description-line-height;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}