@import './variables.scss';

.header {
    position: relative;
    margin-inline: auto;

    min-height: $header-min-height;
    width: $site-items-width;
    max-width: 100%;
    
    display: flex;
    flex-direction: column;

    &__gradient {
        flex: 1;

        position: absolute;
        top: 100%;

        width: 100%;
        height: 2px;

        background-image: linear-gradient($nav-gradient-start, transparent);
    }

    &__banner {
        width: 100%;

        display: flex;
        justify-content: center;

        img {
            max-width: 100%;
        }
    }
}

.nav {
    box-sizing: border-box;
    padding-inline: 2rem;
    min-height: 40px;
    width: 100%;

    background: $nav-bg;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $nav-gap;

    & > *  {
        box-sizing: border-box;
    }

    &__btn {
        color: $nav-btn-text;
        height: 100%;
        padding: $nav-btn-padding;
        // outline: solid 1px red;
        font-size: $nav-btn-font-size;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;

        &.page__selected {
            font-weight: $nav-curr-btn-font-weight;
        }

        &:hover, &:focus {
            background: $nav-btn-bg;
            color: darken($nav-btn-text, $nav-btn-hover-darken-amt)
        }
    }
}

@media (width < 572px) {

}