@import './variables.scss';

.header {
    position: relative;
    margin-inline: auto;

    min-height: $header-min-height;
    width: $site-items-width;
    
    display: flex;

    &__gradient {
        flex: 1;

        position: absolute;
        top: 100%;

        width: 100%;
        height: 5px;

        background-image: linear-gradient($nav-bg-end, lch(100% 0 180));
    }

    &__banner {
        width: 100%;

        display: flex;
        justify-content: center;

        img {
            max-width: 100%;
        }
    }
}

.nav {
    background: $nav-bg;
    min-height: 40px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    *  {
        box-sizing: border-box;
    }

    &__list {
        width: 100%;
        padding-inline: 2rem;

        display: flex;
        justify-content: flex-start;
        gap: $nav-gap;
    }

    &__btn {
        color: $nav-btn-text;
        height: 100%;
        padding: $nav-btn-padding;
        // outline: solid 1px red;
        font-size: $nav-btn-font-size;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;

        &.page__selected {
            font-weight: $nav-curr-btn-font-weight;
        }

        &:hover, &:focus {
            background: $nav-btn-bg;
            color: lighten($nav-btn-text, $nav-btn-hover-lighten-amt)
        }
    }
}

@media (width < 572px) {

}