.header {
    min-height: 12.5rem;
    
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    
    &__banner {
        grid-area: span 3;
        background-image: attr(data-image url)
    }
}

.nav {
    grid-area: span 1;
}