@import './variables.scss';

.header {
    min-height: 12.5rem;
    
    display: grid;
    justify-items: center;
    grid-template-rows: 4fr 1fr;
    
    &__banner {
        width: $header-width;
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
        }
    }
}

.nav {
    background: $nav-bg;
    width: $header-width;

    display: flex;
    justify-content: center;
    align-items: center;

    *  {
        box-sizing: border-box;
    }

    &__list {

        padding-inline: 2rem;

        display: flex;
        justify-content: flex-start;
        gap: $nav-gap;
    }

    &__btn {
        height: 100%;
        padding: 5px 10px;
        // outline: solid 1px red;
        font-size: 12pt;
        line-height: 1;

        &:hover, &:focus {
            background: $nav-btn-bg;
        }
    }
}

@media (width < 572px) {

}