// global
$site-background: #993333;
$site-color: lch(5% 0 180);
$site-items-width: max(50%, 550px);
$page-title-font-size: 1.5rem;


// header
$header-min-height: 12.5rem;
$header-grid-template-rows: 4fr 1fr;

// nav
$nav-gap: 0;//25px;
$nav-bg: linear-gradient(lch(15% 0 180), lch(5% 0 180));

// nav button
$nav-btn-padding: 5px 10px;
$nav-btn-bg: linear-gradient(white, lightgray);
$nav-btn-text: white;
$nav-btn-hover-lighten-amt: 100%;

$nav-btn-font-size: 11pt;
$nav-curr-btn-font-weight: bold;

// main
$main-background: white;
$main-color: lch(5% 0 180);
$main-padding: max(3.75%, 30px)