---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contact">
    <main id="content">
        <h1 class="page-title">Contact</h1>
        <section class="content">
            <p>
                Please contact us with any questions at:
            </p>
            <p>
                VANNI AID FOUNDATION<br>
                c/o Josephine & Wiji Ratnathicam<br>
                61 Mystic Drive<br>
                Ossining, NY 10562<br>
            </p>
            <p>
                <a href="tel:9147371358">(914) 737-1358</a><br>
                <a href="mailto:vanniaid@gmail.com">vanniaid@gmail.com</a><br>
                www.vanniaid.org
            </p>
            <p>
                Click this button to donate:
            </p>
            <p>
                <a href="/donate">
                    <img class="donate__image" src="/assets/VanniAidDONATE.jpg" alt="Donate to Vanni Aid" />
                </a>
            </p>
            <p>
                Our GUIDESTAR profile links:<br>
                <a href="http://www.guidestar.org/organizations/45-2531243/vanni-aid-foundation.aspx">http://www.guidestar.org/organizations/45-2531243/vanni-aid-foundation.aspx</a><br>
                <a href="http://widgets.guidestar.org/gximage2?o=9143842&l=v1">http://widgets.guidestar.org/gximage2?o=9143842&l=v1</a>
            </p>
        </section>
    </main>
</Layout>