---
import Layout from '../components/Layout.astro';
---

<Layout title="Vanni Aid">
	<main id="content">
    <h1>Vanni Aid</h1>
    <div id="content">
          <!-- <a href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/astro-quickstart" class="bttn primary">Deploy to Netlify</a> -->
    </div>
	</main>
</Layout>