---
let deployNetlify = "https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/astro-quickstart"
import Layout from '../layouts/Layout.astro';
import '../styles/index.scss';
---

<Layout title="">
	<main id="content">
    <h1 class="page-title">Home</h1>
    <p class="page-description">
      <strong>
        Vanni Aid Foundation works to support the livelihood of the children of Vavuniya, Sri Lanka
      </strong>
    </p>
    <section class="content">
      <p>
        The disruption in education during the civil war has left the majority of middle and high school students with a very poor knowledge of English. A good command of the English language is essential for the future of these children.
      </p>
      <p>
        We are now 10+ yeas into the supplemental English Program, and out students consistently and significantly outperform their peers on the standardized test they are required to take.
      </p>
      <p>
        RECENT UPDATES: As you may know, the political movement named Aragalaya (struggle) began in March 2022 and has disrupted civil life, with shortages of food and fuel, impacting our children immensely. Children were passing out in school due to lack of food or were not even in school as they were out with their parents looking for a meal.  In response to this, we started a lunch program which now provides meals for ~850 students per day – we selected the schools most in need, but there are many more who are struggling. The program has resulted in increased attendance as well as notably more engaged participation in class. 
      </p>
      <p>
        We have committed to the program through the end of the year and would like to continue to support it.  That said, the expense is significant, and we need your help to continue to fund this until the people in Vavuniya are better able to self-sustain.  It costs roughly $20 US to support one student for 10 weeks, so while the costs add up at scale, small donations can have significant impact.  
      </p>
      <p>
        Please contribute generously, as the future of these children is in your hands.
      </p>
      <p>
        <a href="/donate">
          <img src="/assets/VanniAidDONATE.jpg" alt="Donate to Vanni Aid" />
        </a>
      </p>
    </section>
	</main>
</Layout>