---
let deployNetlify = "https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/astro-quickstart"
import Layout from '../layouts/Layout.astro';
import '../styles/index.scss';
---

<Layout title="Vanni Aid">
	<main id="content">
    <h1 class="page-title">Vanni Aid</h1>
    <p class="page-description">
      <strong>
        Vanni Aid Foundation works to support the livelihood of the children of Vavuniya, Sri Lanka
      </strong>
    </p>
	</main>
</Layout>