---
import '../styles/header.scss';
const { image, alt } = Astro.props
---

<header class="header">
    <div class="header__banner">
        <img src={image} alt={alt} />
    </div>
    <nav class="nav">
        <div class="nav__list">
            <a href="/" class="nav__btn">Home</a>
            <a href="/contact" class="nav__btn">Contact</a>
            <a href="/donate" class="nav__btn">Contact</a>
        </div>
    </nav>
    <div class="header__gradient"></div>
</header>