---
import '../styles/header.scss';
const {bgImage} = Astro.props
---

<header class="header">
    <div class="header__banner" data-image={bgImage}>

    </div>
    <nav class="nav">
        <a class="nav__btn">Home</a>
        <a class="nav__btn">Contact</a>
    </nav>
</header>