---
import '../styles/header.scss';
---

<header class="header">
    <div class="header__banner" style="background-image: url('/public/VanniAidBanner-May13.jpg')">

    </div>
    <nav class="nav">
        <a class="nav__btn">Home</a>
        <a class="nav__btn">Contact</a>
    </nav>
</header>